// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  transition: transform 200ms ease-in-out;
  &:hover {
    transform: translateY(-10px);
  }
}
.fa-home{

  color: black;
}
.card-product img {
  height: 100%;
  width: 100%px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;

  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}



// Animate the size, outside
.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff,0);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}

// Stack multiple shadows, one from the left, the other from the right


// Animating from the bottom

// Multiple shadows, one on the outside, another on the inside
//=== Set button colors
// If you wonder why use Sass vars or CSS custom properties...
  // Make a map with the class names and matching colors
$colors: (
  pulse: black,

);

// Sass variables compile to a static string; CSS variables are dynamic and inherited
  // Loop through the map and set CSS custom properties using Sass variables
@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}

// Now every button will have different colors as set above. We get to use the same structure, only changing the custom properties.
button {
  color: var(--color);
  transition: 0.25s;
}
  a{
    text-decoration:none !important;
    color:black;
    &:hover{
      color:black;
    }

  h2{
    text-decoration:none !important;
    color:black;
    &:hover{
      color:#ef6eae;

  }
  }
  &:hover,
  &:focus {
    border-color: var(--hover);
    color: black;

  }
}


// Basic button styles
button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

h1 { font-weight: 400; }

code {
  color: #e4cb58;
  font: inherit;
}

div{
  display: block;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  position: relative;
}

#banner {
  background-size: cover;
  background-position: center;

  position: relative;
}

.banner h1 {
  margin-left: 10%;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}



.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: white;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

#cocktail{
  padding: 0px;
  position:absolute;
  margin-top: -50px;
  margin-left: -100px;
  font-size: 70px;
  color: white;

}

main {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

p {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 3rem;
  background: linear-gradient(to bottom, #000, #000 60%, #fff 60%, #fff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  transition: background 0.2s ease-out;
  white-space: nowrap;
}



span:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 15px;
  background: #000;
  bottom: 9px;
  transition: all 0.2s ease-out;
}

p:hover {
  background-position: 0 11px;
}

span:hover:before {
  transform: translateY(10px)
}

#ban_text{
  padding-top: 200px;
}

.form{
  display:block;
}

#new_cocktail{
  width: 100%;
  background-image: url(https://res.cloudinary.com/dos4x9flk/image/upload/v1590762039/photo-of-glasses-on-wooden-tray-4051401_d5dzes.jpg);
  background-size: cover;
  padding: 5%;
}

#new_dose{
  width: 100%;
  background-image: url(https://res.cloudinary.com/dos4x9flk/image/upload/v1590762039/photo-of-glasses-on-wooden-tray-4051401_d5dzes.jpg);
  background-size: cover;
  padding: 5%;

}

.photo{
  display:flex;
  flex-direction: row;
  position: relative;

}


#ingredient{
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');


#yolo{

  transform: translate(-50%, -50%);
  font-size:120px;
  letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow:
            8px 8px #ff1f8f,
            20px 20px #000000;
  padding-left: 300px;
  padding-top: 100px;
}
